.main_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &-search {
    margin-bottom: 50px;
    input {
      padding: 10px;
      border: 1px solid lightgrey;
    }
  }
}
